.add-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
  margin: 0;
}

.add-form {
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid whitesmoke;
  box-shadow: 0 20px 20px rgba(211, 211, 211, 0.1);
  display: flex;
  justify-content: space-evenly;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 800px;
  padding: 3rem;
}

.form-dark-mode {
  background-color: #46185f;
  border: 0.5px solid #a278b5;

  input {
    background-color: #e1ccec;

    &:not(input[type="date"]):not([type="text"]) {
      background-color: #cc0e74;
      color: white;
      border: none;
      cursor: pointer;
    }
    &:not(input[type="date"]):not([type="text"]):hover {
      background-color: #e6739f;
    }
  }
}

.alert {
  margin-top: 20px;
}

.add-input input {
  border-radius: 4px;
  padding: 12px 20px;
  border: 1.7px solid #6155a6;
  color: purple;
  font-weight: bold;

  &::placeholder {
    color: rgb(97, 4, 97);
  }
  &:focus {
    outline: none !important;
    border-color: #ffabe1;
    box-shadow: 0 0 3px rgb(173, 116, 173);
  }
  &::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
    border-width: thin;
  }
  &:hover {
    border-color: purple;
  }

  &:not(input[type="date"]):not([type="text"]) {
    border-radius: 4px;
    padding: 12px 50px;
    font-weight: bold;
    background-color: #6155a6;
    color: white;
    border: none;
    cursor: pointer;
  }
  &:not(input[type="date"]):not([type="text"]):hover {
    background-color: #a685e2;
  }
}
