.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 20px;
  overflow: hidden;
  width: 400px;
}

.delete-btn {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #520658;
  border: none;

  cursor: pointer;
  outline: none;
}

.card h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.card h2 {
  letter-spacing: 1px;
  margin: 20px 0;
}

.card-side {
  background-color: #2a265f;
  color: #fff;
  padding: 10px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.card-info {
  padding: 30px;
  width: 100%;
}
