.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #6155a6;
  padding: 1rem 0 1rem 0;
}

.dark--mode-header {
  background-color: #2c003e;
}

.logo {
  color: white;
  font-weight: bold;
}
.left-side {
  margin-left: 2em;
}
.right-side {
  margin: auto 2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.log-out {
  margin: auto 2em;
  color: white !important;
  cursor: pointer;
}
.switch {
  display: flex;
  height: 36px;
  position: relative;
  width: 70px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ffe6e6;
  border: 1px solid #a685e2;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;

  &:before {
    background-color: #6155a6;
    border: 1px solid #a685e2;
    bottom: 3px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
    z-index: 421;
  }
}

input:checked + .slider {
  background-color: #45046a;
}

input:checked + .slider:before {
  transform: translateX(34px);
  border-color: #cfcfcf;
  background-color: #efefef;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-moon,
.toggle-sun {
  width: 50%;
  text-align: center;
  padding: 0.25em;
  position: relative;
  z-index: 420;
}
